<a href="https://colab.research.google.com/github/joquifer2/reto_sql/blob/main/RetoSQL_Challenge_3W.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Semana 1**

## **Días 1, 2 y 3**

Esta Masterclass os ayudará a comprender TODO sobre SQL:

https://nodd3r.com/masters/masterclass/courses/sesiones-masterclass/theory/masterclass-sql

## **Días 4,5,6 y 7**

Ahora aplícalo en este proyecto:

### **Proyecto: La cena de Iván**

**Descripción:**

Iván es un entusiasta de la cocina que disfruta experimentar con nuevas recetas.

Recientemente ha organizado una cena para sus amigos y quiere impresionarlos con una selección de deliciosos platos.

Iván ha preparado una lista de ingredientes necesarios para sus recetas y ha guardado esta información en una base de datos.

Tu tarea es ayudar a Iván a gestionar sus ingredientes y recetas creando una base de datos y realizando algunas consultas para facilitar la preparación de su cena.

**Datos:**

La base de datos contiene dos tablas:
- una tabla llamada `recetas`
- otra tabla llamada `ingredientes`.

Aquí está la **estructura de ambas tablas**:

**Tabla recetas**:

- receta_id (int, clave primaria): Identificador único de la receta.
- nombre_receta (string): Nombre de la receta.
- categoria (string): Categoría a la que pertenece la receta (por ejemplo, entrante, plato principal, postre).
- tiempo_preparacion (int): Tiempo estimado de preparación en minutos.
- dificultad (string): Nivel de dificultad de la receta (por ejemplo, fácil, intermedio, difícil).

**Tabla ingredientes:**

- ingrediente_id (int, clave primaria): Identificador único del ingrediente.
- nombre_ingrediente (string): Nombre del ingrediente.
- cantidad_disponible (int): Cantidad disponible del ingrediente en la despensa de Iván.
- unidad_medida (string): Unidad de medida del ingrediente (por ejemplo, gramos, mililitros).

**NOTA**: Deberás crear una tabla intermedia, llamada `recetas_ingredientes` que nos permita saber qué ingredientes tiene cada receta.
Esta tabla tendrá los siguientes campos:
- receta_id
- ingrediente_id
- cantidad


Esta tabla, deberá relacionar: ingrediente, receta, cantidad.

**Tareas:**

1. Crea la estructura de la base de datos con las tablas recetas e ingredientes. Hazlo en un diagrama E-R.

2. Inserta los siguientes registros en cada tabla para simular recetas y sus ingredientes.

`Recetas`:
- (1,'tortilla de patatas','entrante',55,'intermedio')
- (2, 'hummus','entrante',15,'facil')
- (3, 'crema de calabacin','plato principal',45,'facil')
- (4, 'pisto','plato principal',240,'dificil')
- (5, 'tarta de queso','postre',600,'facil')

`Ingredientes`:
- (1,'patatas',1,'kg'),
- (2,'aceite de oliva',1,'l'),
- (3,'garbanzos en tarro',100,'gr'),
- (4,'calabacin',1,'kg'),
- (5,'huevos',4,'unidades'),
- (6,'tomates',3,'unidades'),
- (7,'galletas',50,'gr'),
- (8,'mascarpone',100,'gr')


`Recetas_ingredientes`:
- (1,1,1),
- (1,5,8),
- (1,2,1),
- (2,2,1),
- (2,3,400),
- (3,4,1),
- (4,4,1),
- (4,6,5),
- (5,7,150),
- (5,8,200)



3. Realiza consultas SQL para realizar las siguientes acciones:
- Mostrar todas las recetas disponibles.
- Mostrar todos los ingredientes necesarios para una receta específica.
- Mostrar las recetas que se pueden preparar con los ingredientes disponibles en la despensa de Iván.
- Mostrar las recetas que requieren una cantidad mínima de 2 litros de aceite de oliva.


**Entrega:**

Proporciona el script SQL que incluya la creación de las tablas, la inserción de datos y las consultas realizadas para cumplir con las tareas mencionadas.

In [ ]:
# Importamos las librerías necesarias
# para poder hacer queries en Python
import sqlite3

# importamos la librería pandas para visualizar la salida
import pandas as pd

In [ ]:
# Nos conectamos a una db de sqlite3
conn = sqlite3.connect('bbdd_ivan.db')
print("Opened database successfully");

 #Aquí podemos escribir la
conn.execute('''-----''')

conn.commit()

print("Table created successfully");

Opened database successfully
Table created successfully

In [ ]:
# cada vez que queremos hacer una query se comienza con conn.execute
conn.execute('''
CREATE TABLE recetas(
	receta_id INT PRIMARY KEY NOT NULL,
	nombre_receta VARCHAR(255) NOT NULL,
  categoría  VARCHAR(255) NOT NULL,
  tiempo_preparacion INT NOT NULL,
	dificultad VARCHAR(255) NOT NULL
);''')

conn.commit()

In [ ]:
# cada vez que queremos hacer una query se comienza con conn.execute
conn.execute('''
CREATE TABLE ingredientes(
	ingrediente_id INT PRIMARY KEY NOT NULL,
	nombre_ingrediente VARCHAR(255) NOT NULL,
  cantidad_disponible INT NOT NULL,
	unidad_medida VARCHAR(255) NOT NULL
);''')

conn.commit()

In [ ]:
# cada vez que queremos hacer una query se comienza con conn.execute
conn.execute('''
INSERT INTO recetas(receta_id, nombre_receta, categoría, tiempo_preparacion, dificultad)
VALUES
    (1, 'tortilla de patatas', 'entrante', 55, 'intermedio'),
    (2, 'hummus', 'entrante', 15, 'facil'),
    (3, 'crema de calabacin', 'plato principal', 45, 'facil'),
    (4, 'pisto', 'plato principal', 240, 'dificil'),
    (5, 'tarta de queso', 'postre', 600, 'facil');
''')
conn.commit()

In [ ]:
conn.execute('''
INSERT INTO ingredientes(ingrediente_id, nombre_ingrediente, cantidad_disponible, unidad_medida)
VALUES
    (1, 'patatas', 1, 'kg'),
    (2, 'aceite de oliva', 1, 'l'),
    (3, 'garbanzos en tarro', 100, 'gr'),
    (4, 'calabacin', 1, 'kg'),
    (5, 'huevos', 4, 'unidades'),
    (6, 'tomates', 3, 'unidades'),
    (7, 'galletas', 50, 'gr'),
    (8, 'mascarpone', 100, 'gr');
''')
conn.commit()

In [ ]:
conn.execute('''
CREATE TABLE recetas_ingredientes(
	receta_id INT NOT NULL,
	ingrediente_id INT NOT NULL,
  cantidad INT NOT NULL);
  ''')

conn.commit()

In [ ]:
conn.execute('''
INSERT INTO recetas_ingredientes(receta_id, ingrediente_id, cantidad)
VALUES
    (1, 1, 1),
    (1, 5, 8),
    (1, 2, 1),
    (2, 2, 1),
    (2, 3, 400),
    (3, 4, 1),
    (4, 4, 1),
    (4, 6, 5),
    (5, 7, 150),
    (5, 8, 200);
''')

conn.commit()

In [ ]:
# Mostrar todas las recetas disponibles.
# creamos la query y la guardamos en la variable qry
qry = '''
SELECT  *
FROM recetas;
'''

# para visualizar la salida, usaremos pandas
df =pd.read_sql_query(qry, conn)

df.head()

,receta_id,nombre_receta,categoría,tiempo_preparacion,dificultad
0,1,tortilla de patatas,entrante,55,intermedio
1,2,hummus,entrante,15,facil
2,3,crema de calabacin,plato principal,45,facil
3,4,pisto,plato principal,240,dificil
4,5,tarta de queso,postre,600,facil

In [ ]:
# Mostrar todos los ingredientes necesarios para una receta específica.

qry = '''
SELECT
    recetas_ingredientes.receta_id,
    ingredientes.nombre_ingrediente
FROM
    recetas_ingredientes
INNER JOIN
    ingredientes
ON
    recetas_ingredientes.ingrediente_id = ingredientes.ingrediente_id;
'''

# Para visualizar la salida, usaremos pandas
df = pd.read_sql_query(qry, conn)

df.head()

   receta_id  nombre_ingrediente
0          1             patatas
1          1              huevos
2          1     aceite de oliva
3          2     aceite de oliva
4          2  garbanzos en tarro

In [ ]:
# Mostrar las recetas que se pueden preparar con los ingredientes disponibles en la despensa de Iván.

qry = '''

SELECT
    r.receta_id,
    r.nombre_receta
FROM
    recetas r
INNER JOIN
    recetas_ingredientes ri ON r.receta_id = ri.receta_id
INNER JOIN
    ingredientes i ON ri.ingrediente_id = i.ingrediente_id
GROUP BY
    r.receta_id, r.nombre_receta
HAVING MIN(i.cantidad_disponible / ri.cantidad) >= 1;


'''

# Para visualizar la salida, usaremos pandas
df = pd.read_sql_query(qry, conn)

df.head()

   receta_id       nombre_receta
0          3  crema de calabacin

In [ ]:
# Mostrar las recetas que requieren una cantidad mínima de 2 litros de aceite de oliva

qry = '''

SELECT
    r.receta_id,
    r.nombre_receta
FROM
    recetas r
INNER JOIN
    recetas_ingredientes ri ON r.receta_id = ri.receta_id
INNER JOIN
    ingredientes i ON ri.ingrediente_id = i.ingrediente_id
WHERE i.nombre_ingrediente LIKE "%aceite%" AND ri.cantidad >= 2
GROUP BY
    r.receta_id, r.nombre_receta

'''

# Para visualizar la salida, usaremos pandas
df = pd.read_sql_query(qry, conn)

df.head()

Empty DataFrame
Columns: [receta_id, nombre_receta]
Index: []

# **Semana 2**

## **Días 1,2,3**

Ahora, a seguir aprendiendo y repasando con esta sesión de SQL:
https://nodd3r.com/masters/masterclass/courses/sesiones-masterclass/theory/workshop-bbdd-enero-24

## **Días 4,5,6 y 7**

Aplica lo aprendido a este proyecto:

### **Proyecto:Telepizza**

**Descripción:**

Telepizza es una cadena de restaurantes de pizzas que opera en España.
Están interesados en mejorar su sistema de gestión de pedidos y entregas, y para eso necesitan una base de datos que les ayude a gestionar esta información.

**Datos:**

La base de datos de Telepizza contiene tres tablas principales:
- orders (pedidos),
- runners (repartidores) y
- pizza_types (tipos de pizza).

Aquí está la estructura de cada tabla:

**Tabla orders:**

- order_id (int, clave primaria): Identificador único del pedido.
- customer_id (int): Identificador único del cliente que realizó el pedido.
- pizza_id (int): Identificador único del tipo de pizza solicitado.
- runner_id (int): Identificador único del repartidor asignado al pedido.
- order_time (timestamp): Fecha y hora en la que se realizó el pedido.
- pickup_time (timestamp): Fecha y hora en la que el pedido fue recogido por el repartidor.
- delivery_time (timestamp): Fecha y hora en la que el pedido fue entregado al cliente.

**Tabla runners:**

- runner_id (int, clave primaria): Identificador único del repartidor.
- name (string): Nombre del repartidor.
- age (int): Edad del repartidor.
- rating (float): Calificación promedio del repartidor.

**Tabla pizza_types:**

- pizza_id (int, clave primaria): Identificador único del tipo de pizza.
- pizza_name (string): Nombre del tipo de pizza.
- toppings (string): Ingredientes o toppings que incluye la pizza.
- price (decimal): Precio de la pizza.

**Tareas:**

1. Diseñar e implementar la estructura de la base de datos con las tablas orders, runners y pizza_types.
2. Insertar datos de ejemplo en cada tabla para simular pedidos, repartidores y tipos de pizza.
3. Realizar consultas SQL para responder las siguientes preguntas:
- ¿Cuántas pizzas de cada tipo se han vendido a partir del día 2024-02-14?
- ¿Cuál es el repartidor con mejor calificación promedio?
- ¿Cuál es el tiempo promedio de entrega de pedidos?
- ¿Cuál es el tipo de pizza más popular entre los clientes?

**Entrega:**

Proporciona el script SQL que incluya la creación de las tablas, la inserción de datos y las consultas realizadas para cumplir con las tareas mencionadas.

In [ ]:
import sqlite3

# Conectar a la base de datos o crearla si no existe
conn = sqlite3.connect('telepizza.db')
cursor = conn.cursor()

In [ ]:
# Implementamos la estructura
# Crear la tabla orders con la sintaxis correcta para las claves foráneas

cursor.execute('''
    CREATE TABLE IF NOT EXISTS orders (
        order_id INTEGER PRIMARY KEY,
        customer_id INTEGER,
        runner_id INTEGER,
        pizza_id INTEGER,
        order_time TIMESTAMP,
        picked_time TIMESTAMP,
        delivery_time TIMESTAMP,
        FOREIGN KEY (runner_id) REFERENCES runners(runner_id),
        FOREIGN KEY (pizza_id) REFERENCES pizzas(pizza_id)
    )
''')

In [ ]:
# Crear la tabla runners con la sintaxis correcta para las claves foráneas
cursor.execute('''
    CREATE TABLE IF NOT EXISTS runners (
        runner_id INTEGER PRIMARY KEY,
        name STRING,
        age INTEGER,
        rating FLOAT
            )
''')

In [ ]:
# Crear la tabla pizza_types con la sintaxis correcta para las claves foráneas
cursor.execute('''
    CREATE TABLE IF NOT EXISTS pizza_types (
        pizza_id INTEGER PRIMARY KEY,
        pizza_name STRING,
        toppins STRING,
        price FLOAT
          )

''')

In [ ]:
# Guardar los cambios y cerrar la conexión
conn.commit()
conn.close()

In [ ]:
# Insertar valores
# Conectar a la base de datos
conn = sqlite3.connect('telepizza.db')
cursor = conn.cursor()

# Insertar valores de ejemplo en la tabla runners

cursor.execute('''
    INSERT INTO runners (
      runner_id,
      name,
      age,
      rating
      )
    VALUES
      (00001, 'José López', 18, 10.5),
      (00002, 'Jordi Pérez', 19, 12.5)
''')

# Insertar valores de ejemplo en la tabla pizza_types
cursor.execute('''
    INSERT INTO pizza_types (
      pizza_id,
      pizza_name,
      toppins,
      price
      )
    VALUES
      (10001, 'Margarita', 'mozzarella, tomate', 10),
      (10002, 'Diábola', 'mozzarella, tomate, chorizo', 12)
''')

# Insertar valores de ejemplo en la tabla orders
cursor.execute('''
    INSERT INTO orders (
      order_id,
      customer_id,
      runner_id,
      pizza_id,
      order_time,
      picked_time,
      delivery_time
      )
    VALUES (1, 11111, 1, 10001, '2024-05-01 22:00:00', '2024-05-01 22:20:00', '2024-05-01 22:30:00'),
    (2, 22222, 2, 10002, '2024-05-01 22:10:00', '2024-05-01 22:30:00', '2024-05-01 22:40:00')
''')

In [ ]:
# Guardar los cambios y cerrar la conexión
conn.commit()
conn.close()

In [ ]:
# Realizar consultas SQL para responder a siguientes preguntas

# Conectar a la base de datos
conn = sqlite3.connect('telepizza.db')
cursor = conn.cursor()

In [ ]:
# Obtener todos los registros de pizzas de cada tipo se han vendido a partir del día 2024-02-14
cursor.execute('''

SELECT
  pizza_types.pizza_name,
  COUNT(orders.pizza_id) AS order_count
FROM
  pizza_types
INNER JOIN
  orders ON orders.pizza_id = pizza_types.pizza_id
WHERE
  order_time >= '2024-02-14 00:00:00'
GROUP BY
  pizza_name
'''
)
rows = cursor.fetchall()
for row in rows:
    print(row)

('Diábola', 1)
('Margarita', 1)

In [ ]:
# ¿Cuál es el repartidor con mejor calificación promedio?

cursor.execute('''
SELECT
  name,
  AVG (rating) AS rating
FROM
  runners
GROUP BY
  name
ORDER BY
  rating DESC
LIMIT
  1
'''
)
rows = cursor.fetchall()
for row in rows:
    print(row)

('Jordi Pérez', 12.5)

In [ ]:
# ¿Cuál es el tiempo promedio de entrega de pedidos?

cursor.execute('''
SELECT
    AVG(JULIANDAY(delivery_time) - JULIANDAY(order_time)) * 24 * 60 AS avg_delivery_time_minutes
FROM
    orders
GROUP BY
    order_id
LIMIT 1;


'''
)
rows = cursor.fetchall()
for row in rows:
    print(row)

(30.000000223517418,)

In [ ]:
# ¿Cuál es el tipo de pizza más popular entre los clientes?

cursor.execute('''
SELECT
    pizza_types.pizza_name, COUNT(orders.pizza_id) n_orders
FROM
    pizza_types
JOIN
    orders ON pizza_types.pizza_id = orders.pizza_id
GROUP BY
    order_id
ORDER BY
    n_orders DESC
LIMIT 1;


'''
)
rows = cursor.fetchall()
for row in rows:
    print(row)

('Margarita', 1)

In [ ]:
# Guardar los cambios y cerrar la conexión
conn.commit()
conn.close()

# **Semana 3 [Extra]**

Esta semana es voluntaria pero recomendable, para que sigáis practicando.

## **Días 1,2,3**

Masterclass de SQL para seguir practicando y repasando.

https://nodd3r.com/masters/masterclass/courses/sesiones-masterclass/theory/workshop-sql-marzo-2024

## **Días 4,5,6 y 7**

Aplica todo lo aprendido a este proyecto.

### **Proyecto: Nod-Foody**

**Descripción:**

Nod-Foody es una startup que ofrece un servicio de entrega de alimentos a través de una plataforma en línea.
Para mejorar su eficiencia y experiencia del usuario, necesitan una base de datos que les permita gestionar los restaurantes registrados, los usuarios y los pedidos realizados en su plataforma.

**Datos:**

La base de datos de Nod-Foody contiene tres tablas principales:
- restaurants (restaurantes),
- users (usuarios)
- orders (pedidos).

Aquí está la estructura de cada tabla:

**Tabla restaurants:**

- restaurant_id (int, clave primaria): Identificador único del restaurante.
- name (string): Nombre del restaurante.
- location (string): Ubicación del restaurante.
- cuisine (string): Tipo de cocina ofrecida por el restaurante (por ejemplo, italiana, mexicana, asiática).

**Tabla users:**

- user_id (int, clave primaria): Identificador único del usuario.
- name (string): Nombre del usuario.
- email (string): Dirección de correo electrónico del usuario.
- address (string): Dirección de entrega del usuario.

**Tabla orders:**

- order_id (int, clave primaria): Identificador único del pedido.
- user_id (int): Identificador único del usuario que realizó el pedido.
- restaurant_id (int): Identificador único del restaurante del cual se realizó el pedido.
- order_time (timestamp): Fecha y hora en la que se realizó el pedido.
- delivery_time (timestamp): Fecha y hora en la que se entregó el pedido al usuario.
- total_amount (decimal): Monto total del pedido.

**Tareas:**

1. Diseñar e implementar la estructura de la base de datos con las tablas restaurants, users y orders.
2. Insertar datos de ejemplo en cada tabla para simular restaurantes registrados, usuarios y pedidos realizados.
3. Realizar consultas SQL para responder las siguientes preguntas:
- ¿Cuántos pedidos se han realizado en cada restaurante durante el último mes?
- ¿Cuál es el usuario que ha realizado más pedidos?
- ¿Cuál es el restaurante más popular entre los usuarios?
- ¿Cuál es el monto total de ventas realizadas en la plataforma durante el último año?

**Entrega:**
Proporciona el script SQL que incluya la creación de las tablas, la inserción de datos y las consultas realizadas para cumplir con las tareas mencionadas.

In [ ]:
import sqlite3

# Conectar a la base de datos o crearla si no existe
conn = sqlite3.connect('notfoody.db')
cursor = conn.cursor()

In [ ]:
# Implementamos la estructura
# Creamos la tabla restaurants con la sintaxis correcta para las claves foráneas

cursor.execute('''
    CREATE TABLE IF NOT EXISTS restaurants (
    restaurant_id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    location TEXT,
    cuisine TEXT
    )
''');

In [ ]:
# Creamos la tabla users con la sintaxis correcta para las claves foráneas

cursor.execute('''
    CREATE TABLE IF NOT EXISTS users (
    user_id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    email TEXT NOT NULL,
    address TEXT
)
''');

In [ ]:
# Creamos la tabla orders con la sintaxis correcta para las claves foráneas

cursor.execute('''
    CREATE TABLE IF NOT EXISTS orders (
    order_id INTEGER PRIMARY KEY,
    user_id INTEGER,
    restaurant_id INTEGER,
    order_time TIMESTAMP,
    delivery_time TIMESTAMP,
    total_amount DECIMAL,
    FOREIGN KEY (user_id) REFERENCES users(user_id),
    FOREIGN KEY (restaurant_id) REFERENCES restaurants(restaurant_id)
)
''');

In [ ]:
# Guardar los cambios y cerrar la conexión
conn.commit()
conn.close()

In [ ]:
# Insertar valores
# Conectar a la base de datos
conn = sqlite3.connect('notfoody.db')
cursor = conn.cursor()

In [ ]:

# Insertar valores de ejemplo en la tabla restaurants

cursor.execute('''
    INSERT INTO restaurants (restaurant_id, name, location, cuisine) VALUES
(1, 'Pasta Palace', 'New York, NY', 'Italian'),
(2, 'Sushi Central', 'San Francisco, CA', 'Japanese'),
(3, 'Taco Town', 'Austin, TX', 'Mexican'),
(4, 'Burger Haven', 'Los Angeles, CA', 'American'),
(5, 'Curry Corner', 'Chicago, IL', 'Indian'),
(6, 'Pizza Place', 'Miami, FL', 'Italian'),
(7, 'Dim Sum Delight', 'Seattle, WA', 'Chinese'),
(8, 'BBQ Barn', 'Houston, TX', 'American'),
(9, 'Vegan Village', 'Portland, OR', 'Vegan'),
(10, 'Pasta Paradise', 'Boston, MA', 'Italian');

''')

# Insertar valores de ejemplo en la tabla users

cursor.execute('''
    INSERT INTO users (user_id, name, email, address) VALUES
(1, 'Alice Smith', 'alice@example.com', '123 Main St, New York, NY'),
(2, 'Bob Johnson', 'bob@example.com', '456 Elm St, San Francisco, CA'),
(3, 'Carol White', 'carol@example.com', '789 Oak St, Austin, TX'),
(4, 'David Brown', 'david@example.com', '101 Pine St, Los Angeles, CA'),
(5, 'Eve Davis', 'eve@example.com', '202 Maple St, Chicago, IL'),
(6, 'Frank Harris', 'frank@example.com', '303 Cedar St, Miami, FL'),
(7, 'Grace Lewis', 'grace@example.com', '404 Birch St, Seattle, WA'),
(8, 'Hank Walker', 'hank@example.com', '505 Walnut St, Houston, TX'),
(9, 'Ivy Hall', 'ivy@example.com', '606 Cherry St, Portland, OR'),
(10, 'Jack King', 'jack@example.com', '707 Chestnut St, Boston, MA');
''')

# Insertar valores de ejemplo en la tabla orders

cursor.execute('''
    INSERT INTO orders (order_id, user_id, restaurant_id, order_time, delivery_time, total_amount) VALUES
(1, 1, 1, '2023-06-01 12:00:00', '2023-06-01 12:30:00', 25.50),
(2, 2, 2, '2023-06-02 13:00:00', '2023-06-02 13:45:00', 40.75),
(3, 3, 3, '2023-06-03 18:00:00', '2023-06-03 18:35:00', 15.00),
(4, 4, 4, '2023-06-04 19:00:00', '2023-06-04 19:25:00', 30.20),
(5, 5, 5, '2023-06-05 11:00:00', '2023-06-05 11:40:00', 22.00),
(6, 6, 6, '2023-06-06 12:30:00', '2023-06-06 13:00:00', 18.75),
(7, 7, 7, '2023-06-07 17:45:00', '2023-06-07 18:15:00', 27.50),
(8, 8, 8, '2023-06-08 20:00:00', '2023-06-08 20:45:00', 35.00),
(9, 9, 9, '2023-06-09 14:00:00', '2023-06-09 14:30:00', 20.00),
(10, 10, 10, '2023-06-10 15:00:00', '2023-06-10 15:25:00', 25.00),
(11, 1, 2, '2023-06-11 12:00:00', '2023-06-11 12:40:00', 32.60),
(12, 2, 3, '2023-06-12 13:15:00', '2023-06-12 13:45:00', 28.75),
(13, 3, 4, '2023-06-13 18:20:00', '2023-06-13 19:00:00', 19.50),
(14, 4, 5, '2023-06-14 19:05:00', '2023-06-14 19:45:00', 33.90),
(15, 5, 6, '2023-06-15 11:30:00', '2023-06-15 12:10:00', 21.25),
(16, 6, 7, '2023-06-16 12:50:00', '2023-06-16 13:30:00', 17.95),
(17, 7, 8, '2023-06-17 17:55:00', '2023-06-17 18:35:00', 26.10),
(18, 8, 9, '2023-06-18 20:10:00', '2023-06-18 20:50:00', 31.00),
(19, 9, 10, '2023-06-19 14:20:00', '2023-06-19 14:55:00', 23.45),
(20, 10, 1, '2023-06-20 15:30:00', '2023-06-20 16:00:00', 27.80),
(21, 1, 1, '2023-06-02 12:30:00', '2023-06-02 12:50:00', 35.50);

''')

In [ ]:
# Guardar los cambios y cerrar la conexión
conn.commit()
conn.close()

In [ ]:
# Realizar consultas SQL para responder a siguientes preguntas

# Conectar a la base de datos
conn = sqlite3.connect('notfoody.db')
cursor = conn.cursor()

In [ ]:
# ¿Cuántos pedidos se han realizado en cada restaurante durante el último mes?

cursor.execute('''
SELECT
  restaurants.name,
  COUNT(orders.order_id) AS order_count
FROM
  restaurants
INNER JOIN
  orders ON restaurants.restaurant_id = orders.restaurant_id
WHERE
  orders.order_time BETWEEN DATE('now', 'start of month', '-1 month') AND DATE('now', 'start of month')
GROUP BY
  restaurants.restaurant_id
''')

rows = cursor.fetchall()
for row in rows:
    print(row)

In [ ]:
# ¿Cuál es el usuario que ha realizado más pedidos?

cursor.execute('''

SELECT
  users.name, COUNT(orders.order_id)
FROM
  users
INNER JOIN
  orders ON users.user_id = orders.user_id
GROUP BY
  users.name
LIMIT 1
''')

rows = cursor.fetchall()
for row in rows:
    print(row)

('Alice Smith', 3)

In [ ]:
# ¿Cuál es el restaurante más popular entre los usuarios?

cursor.execute('''

SELECT
  restaurants.name,
  COUNT(orders.order_id) AS order_count
FROM
  restaurants
INNER JOIN
  orders ON restaurants.restaurant_id = orders.restaurant_id
GROUP BY 1
ORDER BY order_count DESC
LIMIT 1

''')

rows = cursor.fetchall()
for row in rows:
    print(row)

('Pasta Palace', 3)

In [ ]:
# ¿Cuál es el monto total de ventas realizadas en la plataforma durante el último año?

cursor.execute('''

SELECT
  SUM(total_amount) AS total_sales
FROM
  orders
WHERE
  order_time BETWEEN DATE('now', '-1 year') AND DATE('now')

''')

rows = cursor.fetchall()
for row in rows:
    print(row)

(307.29999999999995,)